<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - NutriScope</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="nav-bar">
        <a href="{{ url_for('home') }}" class="nav-button">Home</a>
        <a href="{{ url_for('mission') }}" class="nav-button">Our Mission</a>
        <a href="{{ url_for('articles') }}" class="nav-button">Articles</a>
        <a href="{{ url_for('login') }}" class="nav-button">Login</a>
        <a href="{{ url_for('signup') }}" class="sign-up-button">Sign up Free</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
